/* home-1 */
.img-container {
  height: 8rem;
}

.img-container img {
  width: 100%;
}

a {
  text-decoration: none !important;
}
.top-main-container {
  position: relative;
  bottom: 1rem;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.top-banner {
  width: 40rem !important;
}
.gear {
  position: absolute;
  left: 56.5%;
  bottom: 15rem;
  width: 6rem;
  animation: rotate linear 8s infinite;
}

.floating-anim {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 786px) {
  .top-banner {
    width: 100vw;
  }
  .top-container {
    position: relative;
    bottom: 2rem;
  }
  .top-dsc-logo {
    padding-top: 2rem !important;
  }
}

/* home-2 */
.section-home-2 {
  background: url("../resources/Home/home-2.png");
  background-size: cover;
  background-position: center;
}

/* home-3 */
.card {
  background: #ffffff;
  box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem !important;
  padding: 1rem;
  margin: 1rem 0;
}
.chapter-link {
  display: contents;
}
.card p img {
  width: 2rem;
}

/* home -6 */
/* 
@media (min-width: 786px) {
  iframe {
    width: "675";
    height: "312";
    display: block;
  }
}  */

@media (max-width: 786px) {
  iframe {
    width: "100%" !important;
    height: "312";
    display: block;
  }
}

.btn-purple-hover {
  border: 0.15rem solid #7510f7 !important;
  width: fit-content;
  border-radius: 3rem !important;
  padding: 0.3rem 1rem !important;
  transition-duration: 0.5s;
  font-size: 1rem !important;
  background: #7510f7;
  color: #fff !important;
}

.btn-purple-hover:focus {
  outline: none !important;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  width: 100%;
  height: 100%;
}
.centre-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  width: 100%;
  height: 100%;
}
.p-text {
  margin-top: 20px;
}
div {
  position: relative;
}
.inner-image {
  position: absolute;
  top: 250px;
  left : 25%;
}
.inner-image-c {
  position: absolute;
  top: 250px;
  left: 48%;
  right: 60%;
}
.inner-image-l {
  position: absolute;
  top: 250px;
  right: 25%;
}

.centre-text {
  top: 60%;
  text-align: center;
  position: absolute;
  left: 39.5%;
  right: 37.5%;
}
.centre-left {
  top: 60%;
  left: 17.5%;
  right: 62%;
  text-align: center;
  position: absolute;
}
.centre-right {
  top: 60%;
  left: 64.3%;
  right: 12%;
  position: absolute;
  text-align: center;
}


